#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SimpliFile
Exec=SimpliFile.application
Icon=SimpliFile
Type=Application
Categories=Utility;
Name[en_IN]=SimpliFile
